/node_modules
/bower_components
/vendor
npm-debug.log
yarn-error.log

/.idea
.env

/public/hot
/public/storage
/public/fonts
/public/css
/public/js
/public/media
/public/mix-manifest.json

/storage/*.key
Homestead.json
Homestead.yaml
/.vagrant
