
.folder-table {
  .preview-column {
    width: 56px;
  }

  tr {
    height: 57px;
    .item-center-vertical {
      line-height: 40px;
    }
    .item-name {
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      white-space: pre;
    }
  }

  .share-icon {
    margin: 4px 0px 4px 16px;
  }

  .preview-thumbnail {
    width: 40px;
    margin-bottom: 0px;
  }
}
