
.preview-column {
  width: 56px;
}

.folder-table-row {
  height: 57px;

  > .item-name-td {
    position: relative;
    a {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}
