
.folder-table {
  .preview-column {
    width: 56px;
  }

  tr {
    height: 57px;
    .item-name {
      line-height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      white-space: pre;
    }
  }

  .action-icon {
    height: 32px;
    margin: 4px 0px;
  }

  .preview-thumbnail {
    width: 40px;
    margin-bottom: 0px;
  }
}
