
.folder-table {
  .preview-column {
    width: 56px;
  }

  .icons-column {
    width: 140px;
  }

  tr {
    height: 57px;
    .item-center-vertical {
      line-height: 40px;
    }
    .item-name {
      word-break: break-all;
    }
  }

  .share-icon {
    margin: 4px 0px 4px 12px;
  }

  .preview-thumbnail {
    width: 40px;
    margin-bottom: 0px;
  }
}
