
.ssw-share-icon {
  height: 32px;
}

.preview-description {
  dt {
    word-break: break-all;
  }
  dd {
    word-break: break-all;
  }
}

// Preview file types

.preview-image {
  margin: auto;
  display: block;
}

.preview-video {
  width: 100%;
}

.preview-audio {
  width: 100%;
}

.preview-text {
  width: 100%;
}

.preview-pdf {
  width: 100%;
  border: none;
}
